doctype html
html
  head
    title IKS Portal
    link(rel='stylesheet', href='/css/vendor/bootstrap.min.css')
    link(rel='stylesheet', href='/css/vendor/font-awesome/css/font-awesome.min.css')
    block header
  body
    div.container
        include error
        block content